body { background: #fffaeb url("../gallery_gen/c64619cd598114b05e5b232948f4e3a1.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/0ddd791ecebc8feb878f1fb4254f38a6.png") repeat-x scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 1372px; }
.root { width: 992px; height: 1372px; overflow: visible; }
#wb_element_instance31 { left: 360px; top: 12px; min-width: 620px; width: 620px; min-height: 80px; height: 80px; display: block; z-index: 266; }
#wb_element_instance31 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance31, #wb_element_instance31 ul { text-align: right; }
#wb_element_instance31 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance31 li { margin: 20px 10px 18px 10px; }
#wb_element_instance31 li a { text-transform: uppercase; border: 0px none #000000; padding: 12px 10px 12px 10px; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #737373; line-height: 15px; background: transparent none repeat scroll left top; }
#wb_element_instance31 li:hover > a, #wb_element_instance31 li:focus > a { border: 0px none #000000; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #f0b339; line-height: 15px; background: transparent none repeat-x scroll center center; }
#wb_element_instance31 li.active > a { border: 0px none #000000; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #f0b339; line-height: 15px; background: transparent none repeat-x scroll center center; }
#wb_element_instance32 { left: 88px; top: 39px; min-width: 270px; width: 270px; min-height: 30px; height: 30px; display: block; z-index: 264; }
#wb_element_instance33 { left: 20px; top: 24px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 265; }
#wb_element_instance33 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance34 { left: 860px; top: 29px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; z-index: 264; }
#wb_element_instance34 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance35 { left: 920px; top: 28px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; z-index: 266; }
#wb_element_instance35 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance36 { left: 0px; top: 20px; display: block; z-index: 9000; }
#wb_element_instance37 { left: 0px; top: 97px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 992px; min-height: 1372px; }
	.root { width: 992px; height: 1372px; overflow: visible; }
	#wb_element_instance31 { left: 360px; top: 12px; min-width: 620px; width: 620px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance32 { left: 88px; top: 39px; min-width: 270px; width: 270px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance33 { left: 20px; top: 24px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance33 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 860px; top: 29px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance34 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 920px; top: 28px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance35 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 1372px; }
	.root { width: 992px; height: 1372px; overflow: visible; }
	#wb_element_instance31 { left: 360px; top: 12px; min-width: 620px; width: 620px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance32 { left: 88px; top: 39px; min-width: 270px; width: 270px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance33 { left: 20px; top: 24px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance33 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 860px; top: 29px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance34 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 920px; top: 28px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance35 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 992px; min-height: 1372px; }
	.root { width: 992px; height: 1372px; overflow: visible; }
	#wb_element_instance31 { left: 360px; top: 12px; min-width: 620px; width: 620px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance32 { left: 88px; top: 39px; min-width: 270px; width: 270px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance33 { left: 20px; top: 24px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance33 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 860px; top: 29px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance34 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 920px; top: 28px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance35 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
}
