#wb_header { background: transparent none repeat scroll left top; height: 106px; }
#wb_header { height: 106px; }
#wb_main { background: transparent none repeat scroll left top; height: 1110px; padding: 0 0 50px 0; }
#wb_main { height: 1160px; }
#wb_footer { background: #e3cfa8 none repeat scroll left top; height: 106px; }
#wb_footer { height: 106px; }
body { background: #fffaeb url("../gallery_gen/c64619cd598114b05e5b232948f4e3a1.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/0ddd791ecebc8feb878f1fb4254f38a6.png") repeat-x scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 3272px; }
.root { width: 992px; height: 3272px; overflow: visible; }
#wb_element_instance0 { left: 360px; top: 12px; min-width: 620px; width: 620px; min-height: 80px; height: 80px; display: block; z-index: 266; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 20px 10px 18px 10px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 12px 10px 12px 10px; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #737373; line-height: 15px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #f0b339; line-height: 15px; background: transparent none repeat-x scroll center center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #f0b339; line-height: 15px; background: transparent none repeat-x scroll center center; }
#wb_element_instance1 { left: 88px; top: 39px; min-width: 270px; width: 270px; min-height: 30px; height: 30px; display: block; z-index: 264; }
#wb_element_instance2 { left: 20px; top: 24px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 265; }
#wb_element_instance2 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { left: 860px; top: 29px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; z-index: 264; }
#wb_element_instance3 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance4 { left: 920px; top: 28px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; z-index: 266; }
#wb_element_instance4 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance5 { left: 20px; top: 820px; min-width: 230px; width: 230px; min-height: 130px; height: 130px; display: block; z-index: 100; }
#wb_element_instance5 img { width: 230px; height: 130px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance6 { left: 270px; top: 980px; min-width: 220px; width: 220px; min-height: 130px; height: 130px; display: block; z-index: 101; }
#wb_element_instance6 img { width: 220px; height: 130px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance7 { left: 750px; top: 980px; min-width: 220px; width: 220px; min-height: 125px; height: 125px; display: none; z-index: 109; }
#wb_element_instance7 img { width: 220px; height: 125px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance8 { left: 20px; top: 980px; min-width: 230px; width: 230px; min-height: 72px; height: 72px; display: block; z-index: 89; }
#wb_element_instance9 { left: 270px; top: 820px; min-width: 220px; width: 220px; min-height: 72px; height: 72px; display: block; z-index: 114; }
#wb_element_instance10 { left: 510px; top: 980px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: none; z-index: 115; }
#wb_element_instance11 { left: 750px; top: 820px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: block; z-index: 116; }
#wb_element_instance12 { left: 670px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; z-index: 127; }
#wb_element_instance12 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance13 { left: 335px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; z-index: 128; }
#wb_element_instance13 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance14 { left: 0px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; z-index: 129; }
#wb_element_instance14 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance15 { left: 0px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; z-index: 130; }
#wb_element_instance16 { left: 330px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; z-index: 131; }
#wb_element_instance17 { left: 670px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; z-index: 133; }
#wb_element_instance18 { left: 20px; top: 764px; min-width: 200px; width: 200px; min-height: 30px; height: 30px; display: block; z-index: 134; }
#wb_element_instance19 { left: 220px; top: 770px; min-width: 770px; width: 770px; min-height: 20px; height: 20px; display: block; z-index: 135; }
#wb_element_instance20 { left: 510px; top: 820px; min-width: 220px; width: 220px; min-height: 130px; height: 130px; display: block; z-index: 136; }
#wb_element_instance20 img { width: 220px; height: 130px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance21 { left: 20px; top: 140px; min-width: 460px; width: 460px; min-height: 24px; height: 24px; display: block; z-index: 102; }
#wb_element_instance22 { left: 0px; top: 1130px; display: block; z-index: 9000; }
#wb_element_instance23 { left: 0px; top: 97px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 106px; }
	#wb_main { height: 1160px; }
	#wb_footer { height: 106px; }
	body, .wb_sbg { min-width: 992px; min-height: 1372px; }
	.root { width: 992px; height: 1372px; overflow: visible; }
	#wb_element_instance0 { left: 360px; top: 12px; min-width: 620px; width: 620px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance1 { left: 88px; top: 39px; min-width: 270px; width: 270px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance2 { left: 20px; top: 24px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 860px; top: 29px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance3 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 920px; top: 28px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance4 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 20px; top: 820px; min-width: 230px; width: 230px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance5 img { width: 230px; height: 130px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 { left: 270px; top: 980px; min-width: 220px; width: 220px; min-height: 130px; height: 130px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 228px; height: 130px; display: block; cursor: pointer; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 750px; top: 980px; min-width: 220px; width: 220px; min-height: 125px; height: 125px; display: block; }
	#wb_element_instance7 img { width: 220px; height: 125px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance8 { left: 20px; top: 980px; min-width: 230px; width: 230px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance9 { left: 270px; top: 820px; min-width: 220px; width: 220px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance10 { left: 510px; top: 980px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance11 { left: 750px; top: 820px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance12 { left: 670px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance12 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance13 { left: 335px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance13 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance14 { left: 0px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance14 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 0px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance16 { left: 330px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance17 { left: 670px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance18 { left: 20px; top: 764px; min-width: 200px; width: 200px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance19 { left: 220px; top: 770px; min-width: 770px; width: 770px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance20 { left: 510px; top: 820px; min-width: 220px; width: 220px; min-height: 130px; height: 130px; display: block; overflow: hidden; }
	#wb_element_instance20 img { width: 228px; height: 130px; display: block; cursor: pointer; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance21 { left: 20px; top: 140px; min-width: 460px; width: 460px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 106px; }
	#wb_main { height: 1160px; }
	#wb_footer { height: 106px; }
	body, .wb_sbg { min-width: 992px; min-height: 1372px; }
	.root { width: 992px; height: 1372px; overflow: visible; }
	#wb_element_instance0 { left: 360px; top: 12px; min-width: 620px; width: 620px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance1 { left: 88px; top: 39px; min-width: 270px; width: 270px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance2 { left: 20px; top: 24px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 860px; top: 29px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance3 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 920px; top: 28px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance4 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 20px; top: 820px; min-width: 230px; width: 230px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance5 img { width: 230px; height: 130px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 { left: 270px; top: 980px; min-width: 220px; width: 220px; min-height: 130px; height: 130px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 228px; height: 130px; display: block; cursor: pointer; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 750px; top: 980px; min-width: 220px; width: 220px; min-height: 125px; height: 125px; display: block; }
	#wb_element_instance7 img { width: 220px; height: 125px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance8 { left: 20px; top: 980px; min-width: 230px; width: 230px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance9 { left: 270px; top: 820px; min-width: 220px; width: 220px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance10 { left: 510px; top: 980px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance11 { left: 750px; top: 820px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance12 { left: 670px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance12 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance13 { left: 335px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance13 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance14 { left: 0px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance14 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 0px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance16 { left: 330px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance17 { left: 670px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance18 { left: 20px; top: 764px; min-width: 200px; width: 200px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance19 { left: 220px; top: 770px; min-width: 770px; width: 770px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance20 { left: 510px; top: 820px; min-width: 220px; width: 220px; min-height: 130px; height: 130px; display: block; overflow: hidden; }
	#wb_element_instance20 img { width: 228px; height: 130px; display: block; cursor: pointer; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance21 { left: 20px; top: 140px; min-width: 460px; width: 460px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 106px; }
	#wb_main { height: 1160px; }
	#wb_footer { height: 106px; }
	body, .wb_sbg { min-width: 992px; min-height: 1372px; }
	.root { width: 992px; height: 1372px; overflow: visible; }
	#wb_element_instance0 { left: 360px; top: 12px; min-width: 620px; width: 620px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance1 { left: 88px; top: 39px; min-width: 270px; width: 270px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance2 { left: 20px; top: 24px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 60px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 860px; top: 29px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance3 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 920px; top: 28px; min-width: 48px; width: 48px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance4 img { width: 48px; height: 48px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 20px; top: 820px; min-width: 230px; width: 230px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance5 img { width: 230px; height: 130px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 { left: 270px; top: 980px; min-width: 220px; width: 220px; min-height: 130px; height: 130px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 228px; height: 130px; display: block; cursor: pointer; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 750px; top: 980px; min-width: 220px; width: 220px; min-height: 125px; height: 125px; display: block; }
	#wb_element_instance7 img { width: 220px; height: 125px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance8 { left: 20px; top: 980px; min-width: 230px; width: 230px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance9 { left: 270px; top: 820px; min-width: 220px; width: 220px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance10 { left: 510px; top: 980px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance11 { left: 750px; top: 820px; min-width: 220px; width: 220px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance12 { left: 670px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance12 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance13 { left: 335px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance13 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance14 { left: 0px; top: 374px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance14 img { width: 320px; height: 320px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 0px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance16 { left: 330px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance17 { left: 670px; top: 714px; min-width: 320px; width: 320px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance18 { left: 20px; top: 764px; min-width: 200px; width: 200px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance19 { left: 220px; top: 770px; min-width: 770px; width: 770px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance20 { left: 510px; top: 820px; min-width: 220px; width: 220px; min-height: 130px; height: 130px; display: block; overflow: hidden; }
	#wb_element_instance20 img { width: 228px; height: 130px; display: block; cursor: pointer; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance21 { left: 20px; top: 140px; min-width: 460px; width: 460px; min-height: 24px; height: 24px; display: block; }
}
